<!-- <div class="page-header">
  <h1>Products <small>Artisanally Crafted</small></h1>
</div> -->


  <div class="row">

    <div class="col-xs-11 title-area">

      <h1 class= "page_title">
        <%= link_to root_path, class: "page_title_text" do%>
        Mallory Furniture
        <% end%>
      </h1>

    </div>

    <div class="col-xs-1 buttons-area">

      <%= link_to root_path, class: "btn btn-lg btn-block btn-success" do %>
       <span class= "glyphicon glyphicon-home"></span>
      <%end%>

      <%= link_to root_path, class: "btn btn-lg btn-block btn-success red" do%>
      <span class= "glyphicon glyphicon-arrow-left"></span>
      <%end%>

      <!-- <%= link_to 'Home', root_path, class: "btn btn-lg btn-block btn-success" %>
      <%= link_to 'Back', show_path(id: 12), class: "btn btn-lg btn-block btn-success" %> -->

    </div>

  </div>

<!-- ============ -->

<div class = "container">
  <div class="row">
    <div class="col-xs-11">
      <nav class="navbar navbar-default">
        <div class="container-fluid product_cats_menu">
          <div class="navbar-header">
          <%= link_to products_path, class: "navbar-brand" do%>
              <img alt="All">
            <%end%>
          </div>
          <ul class="nav navbar-nav">
            <li>
              <%= link_to displaybycategory_path(category: "bedroom"), class: "navbar-brand" do%>
                  <img alt="Bedroom">
                <%end%>
            </li>
            <li>
              <%= link_to displaybycategory_path(category: "desks"), class: "navbar-brand" do%>
                  <img alt="Desks">
              <%end%>

              <%= link_to displaybycategory_path(category: "seating"), class: "navbar-brand" do%>
                  <img alt="Seating">
              <%end%>

              <%= link_to displaybycategory_path(category: "storage"), class: "navbar-brand" do%>
                  <img alt="Storage">
              <%end%>

              <%= link_to displaybycategory_path(category: "tables"), class: "navbar-brand" do%>
                  <img alt="Tables">
              <%end%>

              <%= link_to displaybycategory_path(category: "miscellaneous"), class: "navbar-brand" do%>
                  <img alt="Other">
              <%end%>

            </li>

          </ul>

        </div>
      </nav>

      <% @disc_category_prodlist.in_groups_of(4, false) do |productrow|%>
        <div class="row">
          <% productrow.each do |px|%>
            <div class="col-sm-4 col-md-3">
              <div class="thumbnail">
                <%= link_to show_path(id: px.pid) do %>
                  <%= image_tag px.img_tag, class: "small" %>
                <%end%>

                <div class="caption">
                  <h3><%= px.item %></h3>
                  <p>
                    <%=number_to_currency px.price%>
                    <% if px.in_clearance == "Clearance"%>
                    <span class="clearancetext">Clearance!</span>
                    <%else
                    end%>

                  </p>
                  <p>

                    <%= link_to 'More Info', show_path(id: px.pid), class: "btn btn-default", role: "button"%>

                    <!-- <%= link_to show_path(id: px.pid), class: "btn btn-default", role: "button" do %>
                      More Info <span class= "glyphicon glyphicon-asterixk"></span>
                    <% end%> -->

                  </p>
                </div>
              </div>
            </div>
          <% end%>
        </div>

      <% end%>


    </div>

    <div class="col-xs-1">


    </div>

  </div>


</div>
