<h1 class= "page_title">
  <%= link_to root_path, class: "page_title_text" do%>
  Mallory Furniture
  <% end%>
</h1>


<div class="jumbo">
  <div class="littlebox">
    <div class="page-header">
      <h1>Your furniture is old<h1>
      <div class="text-right"><small>Ours is older.</small></div>

    </div>
    <p>
      <%= link_to "Chckout our products", products_path, class: "btn btn-primary checkout_products"%>
    </p>
  </div>
</div>


<%= @unique_categories%>



<!-- CODE USED TO DO DATA CHECKS IS BELOW


1) CHECK THE UNIQUE CONDITIONS TO MAKE SURE DATA IS OK


<%= @unique_conditions%>


2) COMPARE REGULAR AND DISCOUNTED PRICES TO ENSURE CORRECT CALCULATIONS AND VARIABLE STORAGE


<table class="table">
  <tr>
    <th>ID</th>
    <th>Item</th>
    <th>Condition</th>
    <th>Original Price</th>
    <th>Discounted Price</th>
  </tr>

<% @product_list.each do |p|%>
  <tr>
    <td><%=p.pid%></td>
    <td><%=p.item%></td>
    <td><%=p.condition%></td>
    <td><%=p.price%></td>


  <%
      match_price = 0

      if p.condition == "good"
        @match_disc_product = @discounted_prodlist.find do |dp|
          dp.item == p.item
        end
      elsif p.condition == "average"
        @match_disc_product = @discounted_prodlist.find do |dp|
          dp.item == p.item
        end
      else
        @match_disc_product = p
      end


  %>

    <td><%=@match_disc_product.price%></td>


  </tr>


<%end%>
</table> -->






<!--
COUNTING AND DISPLAYING IMG NAMES TO UNDERSTAND MISSING IMAGE AND MISLABELED IMG TAG
<% count = 0

  @product_list.each do |p|
    count += 1

  end%>

<%=count %>


  <% @product_list.sort_by do |p| p.img_tag%>
    <p><%= p.item%><span> </span><%= p.img_tag%></p>
  <%end%> -->
