<h1 class= "page_title">
  <%= link_to root_path, class: "page_title_text" do%>
  Mallory Furniture
  <% end%>
</h1>


<div class="jumbo">
  <div class="littlebox">
    <div class="page-header">
      <h1>Your furniture is old<h1>
      <div class="text-right"><small>Ours is older.</small></div>

    </div>
    <p>
      <%= link_to "Checkout our products", products_path, class: "btn btn-primary checkout_products"%>
    </p>
  </div>

  <div class="menutable">
    <div class= "titles">
      <%= link_to displaybycategory_path(category: "bedroom"), class:"homelink" do%>
        <div> | Bedroom | </div>
      <%end%>

      <%= link_to displaybycategory_path(category: "desks"), class:"homelink" do%>
      <div> | Desks | </div>
      <%end%>

      <%= link_to displaybycategory_path(category: "seating"), class:"homelink" do%>
      <div> | Seating | </div>
      <%end%>

      <%= link_to displaybycategory_path(category: "storage"), class:"homelink" do%>
      <div> | Storage | </div>
      <%end%>

      <%= link_to displaybycategory_path(category: "miscellaneous"), class:"homelink" do%>
      <div> | Other | </div>
      <%end%>



    </div class= "titles">
  </div>

</div>



<% if false %>
<!-- CODE USED TO DO DATA CHECKS IS BELOW


1) CHECK THE UNIQUE CONDITIONS TO MAKE SURE DATA IS OK


<%= @unique_conditions%>

<%= @unique_categories%>

<p></p>

<%= @disc_bedroom_prodlist%>



2) COMPARE REGULAR AND DISCOUNTED PRICES TO ENSURE CORRECT CALCULATIONS AND VARIABLE STORAGE


<table class="table">
  <tr>
    <th>ID</th>
    <th>Item</th>
    <th>Condition</th>
    <th>Original Price</th>
    <th>Discounted Price</th>
  </tr>

<% @product_list.each do |p|%>
  <tr>
    <td><%=p.pid%></td>
    <td><%=p.item%></td>
    <td><%=p.condition%></td>
    <td><%=p.price%></td>


  <%
      match_price = 0

      if p.condition == "good"
        @match_disc_product = @discounted_prodlist.find do |dp|
          dp.item == p.item
        end
      elsif p.condition == "average"
        @match_disc_product = @discounted_prodlist.find do |dp|
          dp.item == p.item
        end
      else
        @match_disc_product = p
      end


  %>

    <td><%=@match_disc_product.price%></td>


  </tr>


<%end%>
</table> -->






<!-- COUNTING AND DISPLAYING IMG NAMES TO UNDERSTAND MISSING IMAGE AND MISLABELED IMG TAG
<% count = 0

  @product_list.each do |p|
    count += 1

  end%>

<%= count %>


  <% @product_list.sort_by do |p| p.img_tag%>
    <p><%= p.item%><span> </span><%= p.img_tag%><span> </span><%= p.quantity%></p>
  <%end%> -->

<% end %>
